#lda-user-list-widget {

  .p {
    padding: $space;
  }
  .p-y {
    padding-top: $space;
    padding-bottom: $space;
  }
  .p-x {
    padding-left: $space;
    padding-right: $space;
  }
  .p-t {
    padding-top: $space;
  }
  .p-b {
    padding-bottom: $space;
  }
  .p-l {
    padding-left: $space;
  }
  .p-r {
    padding-right: $space;
  }

}