// COLORS
$primary : #1dbe74;
$warning : #f5a623;
$white : #ffffff;
$text-color : #000000;
$border : #e4e4e4;
$black : #000000;
$success:  #3aaf50;
$success-hover:  #27a03e;
$danger:  #db3c4f;
$danger-hover:  #e42c42;
$default:  #898989;

$btn-shadow : 0 3px 5px rgba(0, 0, 0, 0.35);

$drop-down-menu-hover-text : #c3e7ca;
$drop-down-shadow : 0 3px 5px rgba(0, 0, 0, 0.25);


$search : #898989;
$table-border: #ccc;
$table-text-color: #6d6d6d;
$table-even-text-color: #4a4a4a;
$table-even-bg-color: #f0f0f0;
$table-hover : #eaeaea;

$input-text: #495057;
$input-place-holder: #757575;
$input-border: #ced4da;
$input-focus-border: #80bdff;
$input-focus-shadow: 0 0 0 2px rgba(0,123,255,.25);
$select-input-bg :  linear-gradient(to top, #f3f5f7, #fdfdfe);
//$input-add-on-bg : linear-gradient(to top, #f3f5f7, #fdfdfe);
$input-add-on-bg : linear-gradient(to bottom right, #fff, #f3f5f7);
$add-on-icon : #dbdde4;

$checkbox-border: #ced0da;
$checkbox-bg: #f6f8fa;
$checkbox-checked-border: #d0021b;
$checkbox-checked-bg: #e13f50;

$color-1: #d8d8d8;
$color-2: #f0f0f0;

$box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.45);
$space: 15px;
$half-space: $space/2;
